<a style="cursor:pointer;" class="list-group-item clearfix">
  <span class="float-right">
    <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 50px;">
  </span>
  <div class="float-left">
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <p class="list-group-item-text">{{ recipe.description }}</p>
  </div>
  <div class="clearfix"></div>
  <div>
    <button type="button" class="btn btn-success btn-sm mr-1" (click)="editItem(recipe.id)">Edit</button>
    <button type="button" class="btn btn-danger btn-sm" (click)="deleteItem(recipe.id)">Delete</button>
  </div>
</a>
